<ion-content [fullscreen]="true">
  <div class="container">
    <div class="imagen">
      <img src="/assets/UberDuoc.png" alt="">
    </div>
    <h1>Uber Duoc</h1>
    <div class="login">
      <label for="user">Usuario</label>
      <input type="text" [(ngModel)]="usuario" id="usuario" placeholder="Usuario" required>
      <label for="clave">Contraseña</label>
      <input type="password" [(ngModel)]="clave" id="clave" placeholder="Contraseña" required>
      <h1 class="forgot">¿No tienes una cuenta?</h1>
      <ion-select [(ngModel)]="tipoRegistro" interface="popover">
        <ion-select-option value="usuario">Registrarse como Usuario</ion-select-option>
        <ion-select-option value="conductor">Registrarse como Conductor</ion-select-option>
      </ion-select>
      <button (click)="redirigirRegistro()" class="boton">Registrarse</button>
    </div>
    <button (click)="login()" class="boton">Iniciar sesión</button>
  </div>
</ion-content>



