<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Registro de Conductor</h1>
    <div class="registro">
      <label for="usuario">Usuario</label>
      <input type="text" [(ngModel)]="usuario" placeholder="Usuario" required>
      <label for="clave">Contraseña</label>
      <input type="password" [(ngModel)]="clave" placeholder="Contraseña" required>
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="email" placeholder="Email" required>
      <label for="telefono">Telefono</label>
      <input type="text" [(ngModel)]="telefono" placeholder="telefono" required>
      <label for="nombre">Nombre</label>
      <input type="text" [(ngModel)]="nombre" placeholder="Nombre" required>
      <label for="apellido">Apellido</label>
      <input type="text" [(ngModel)]="apellido" placeholder="Apellido" required>
      <label position="floating">Número de licencia</label>
      <ion-input type="text" [(ngModel)]="numeroLicencia"></ion-input>
      <label position="floating">Tipo de vehículo</label>
      <ion-input type="text" [(ngModel)]="tipoVehiculo"></ion-input>
      <a [routerLink]="['/login']" class="forgot">¿Tienes una cuenta?</a>
      <!-- Otros campos para detalles del conductor -->
    </div>
    <button expand="full" (click)="registrarConductor()">Registrar Conductor</button>
  </div>
</ion-content>
